---
layout: home-page
title: About
permalink: /about/
---
<div class="small-wrapper">
  <div class="about-container">
    <section class="about-header">
      <div class="author-image-container">
        <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="{{site.author}}">
      </div>
      <p class="subtitle">{{site.author}}</p>
      <p class="subtitle">{{site.about-author}}</p>
    </section>
    <section>
      <div class="career-container">
        <h2>Career</h2>
        <h4>SK Planet 16.01~18.08</h4>
          <ul>
            <li>OK Cashbag Android 개발</li>
            <li>11st MSA 개선 (API서버 분리) </li>  
            <li>사내 빌드/배포 시스템 개발 및 운영</li>  
            <li>팀내 docker registry 구축 kubernetes 리서치 </li>
            <li>11st 상품 상세 페이지 full-stack 개발</li>
          </ul>
        <h4>KAKAO 18.09~</h4>
          <ul>
            <li>카카오뮤직 서버 개발 및 운영</li>
            <li>카카오뮤직 음원 데이타 마이그레이션 프로젝트</li>
            <li>멜론 어드민 메뉴 및 권한 관리 시스템</li>
          </ul>
          <h2>Skills</h2>
          <ul>
            <li>SpringBoot(SpringFramework)</li>
            <li>java, kotlin</li>
            <li>JPA, QueryDsl, Mybatis</li>
            <li>Gradle, Maven</li>
            <li>MySql, Oracle</li>
            <li>Docker, K8s</li>
            <li>Vue.js, Vuetify</li>
            <li>Android</li>
          </ul>
      </div>
    </section>
    <section class="about-body">
      <ul class="contact-list">
      {% if site.email %}
        <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a></li>
      {% else %}
        <li class="email"><a href="mailto:example.adam@blog.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.phone %}
        <li class="phone"><a href="tel:{{site.phone}}"><i class="fa fa-phone"></i></a></li>
      {% else %}
        <li class="phone"><a href="tel:044 825 5523"><i class="fa fa-phone" aria-hidden="true"></i></a></li>
      {% endif %}
      
      {% if site.linkedin %}
        <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      {% else %}
        <li class="linkedin"><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      {% endif %}

      {% if site.github %}
        <li class="github"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i></a></li>
      {% else %}
        <li class="github"><a href="http://github.com/artemsheludko" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
      {% endif %}
      </ul>
    </section> <!-- End About Body-->
  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
